body {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader {
  color: #0088cc;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 5vh;
  opacity: 0.8;
  text-align: center;
  margin-top: 100px;
}

.loader span {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

/* MAIN START */
.container {
  display: none;
	width: 1001px;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
}

.container:after {
	display: block;
	content: '';
	clear: both;
}

#country-choose, #country-desc, #country-add {
	min-height: 410px;
	float: left;
}
/* MAIN END */

/* COUNTRY-CHOOSE START*/

#country-choose {
	width: 250px;
	border-right: 1px solid #e5e5e5;
}

#country-choose ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#country-choose ul li a {
	text-transform: uppercase;
    display: block;
    padding: 20px 25px;
    color: #0088cc;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: -1px;
    text-decoration: none;
}

#country-choose ul li:hover a {
	background-color: #e5e5e5;
}

#country-choose ul li a img {
	width: 50px;
	vertical-align: middle; 
}

#country-choose ul li a span {
	padding-left: 10px;
	font-weight: 800;
}

#country-choose ul li.active a {
	background-color: #0088cc;
	color: white;
}
/* COUNTRY-CHOOSE END*/


/* COUNTRY-DESC START*/
#country-desc {
	min-width: 400px;
	padding: 10px 15px;
	box-sizing: border-box;
}
/* COUNTRY-DESC END*/

/* COUNTRY-ADD START*/
#country-add {
	min-width: 350px;
	border-left: 1px solid #e5e5e5;
	box-sizing: border-box;
}

#country-add table caption {
	text-align: center;
	font-size: 20px;
	font-weight: 800;
  margin-top: 20px;
}

#country-add table {
    border-collapse: collapse;
    width: 100%;
}

#country-add td {
    padding: 10px 15px;
}

#country-add input[type="text"] {
	width: 100%;
}

/* COUNTRY-ADD END*/
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}